@use '../../styles/base.scss' as *;

.#{$cls-prefix}button {
  background-color: $brand-color;
  padding: 0.25rem 1rem;
  border: 1px solid $brand-color;
  cursor: pointer;
}

.#{$cls-prefix}button-is-round {
  border-radius: 20px;
}