@use 'sass:map';
@use './function.scss' as *;
@use './mixin.scss' as *;

$colors: () !default;
$colors: getColorPalette(map.deep-merge((
  'primary': #8b5cf6,
  'black': #000000,
  'white': #ffffff,
  'gray': #d1d5db,
  'warning': #f59e0b,
  'error': #ef4444,
  'success': #10b981,
), $colors));

$border-radius-sizes: (
  'default': .25em,
  'round': 999em,
) !default;

$padding-sizes: (
  'sm': 0.25em,
  'md': .5em,
  'lg': 0.75em,
  'xl': 1em,
  '2xl': 2em,
) !default;

:root {
  @each $key,$value in $colors {
    @include cssVar($value, 'color', $key);
  }

  @each $key,$value in $border-radius-sizes {
    @include cssVar($value, 'border-radius', $key);
  }

  @each $key,$value in $padding-sizes {
    @include cssVar($value, 'padding', $key);
  }
}