:root {
  --vp-c-green: var(--v-color-primary-5);
  --vp-c-green-light: var(--v-color-primary-4);
  --vp-c-green-lighter: var(--v-color-primary-3);
  --vp-c-brand-dark: var(--v-color-primary-6);
  --vp-c-brand-darker: var(--v-color-primary-7);
}
.vp-doc div[class*='language-'] {
  margin: 0;
}